.boxes-wrapper {
  display: flex;
  margin: 0 auto;
}

.letter-box {
  border: 2px solid lightblue;
  margin: 20px;
  width: 50px;
  height: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-weight: bold;
  text-transform: capitalize;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  justify-content: center;
  color: white;
  font-size: 30px;
  align-items: center;
}
